In [1]:
import pandas as pd
pd.set_option('display.max_rows', 800)
from bs4 import BeautifulSoup
import json
import warnings
warnings.filterwarnings("ignore")

In [2]:
def get_team(data):
    
    tab = []
    for elem in ["home", "away"]:
        tab.append(data["matchCentreData"][elem]["name"])
    
    return tab

def parse_file(x):
    x = json.loads(x)
    return get_team(x)

In [3]:
df = pd.read_csv("test.csv", index_col=0)

In [4]:
#df = pd.read_csv("./raw_data/data_L1_2018.csv", index_col=0)
df["return"] = df["data"].apply(parse_file)
df[["HomeTeam", "AwayTeam"]] = pd.DataFrame(df["return"].tolist(), index=df.index)
df.drop("return", axis=1, inplace=True)
df.shape

(20, 4)

In [7]:
df

,id,data,HomeTeam,AwayTeam
0,1485541,"{\n ""matchId"":1485541,\n ...",Man Utd,Fulham
1,1485539,"{\n ""matchId"":1485539,\n ...",Everton,Wolves
2,1485555,"{\n ""matchId"":1485555,\n ...",Fulham,Newcastle
3,1485562,"{\n ""matchId"":1485562,\n ...",West Ham,Southampton
4,1485558,"{\n ""matchId"":1485558,\n ...",Leicester,Tottenham
5,1485533,"{\n ""matchId"":1485533,\n ...",Burnley,Liverpool
6,1485531,"{\n ""matchId"":1485531,\n ...",Brighton,Man City
7,1485543,"{\n ""matchId"":1485543,\n ...",Newcastle,Sheff Utd
8,1485563,"{\n ""matchId"":1485563,\n ...",Wolves,Man Utd
9,1485537,"{\n ""matchId"":1485537,\n ...",Crystal Palace,Arsenal
10,1485561,"{\n ""matchId"":1485561,\n ...",Sheff Utd,Burnley
11,1485557,"{\n ""matchId"":1485557,\n ...",Leeds,West Brom
12,1485545,"{\n ""matchId"":1485545,\n ...",Southampton,Leeds
13,1485547,"{\n ""matchId"":1485547,\n ...",Tottenham,Aston Villa
14,1485535,"{\n ""matchId"":1485535,\n ...",Chelsea,Leicester
15,1485559,"{\n ""matchId"":1485559,\n ...",Liverpool,Crystal Palace
16,1485560,"{\n ""matchId"":1485560,\n ...",Man City,Everton
17,1485553,"{\n ""matchId"":1485553,\n ...",Aston Villa,Chelsea
18,1485549,"{\n ""matchId"":1485549,\n ...",West Brom,West Ham
19,1485551,"{\n ""matchId"":1485551,\n ...",Arsenal,Brighton

In [5]:
df["HomeTeam"].value_counts()

Newcastle         1
Crystal Palace    1
Sheff Utd         1
Brighton          1
Fulham            1
Aston Villa       1
Burnley           1
Tottenham         1
Wolves            1
West Ham          1
Leeds             1
Southampton       1
Liverpool         1
Arsenal           1
Everton           1
Leicester         1
Man Utd           1
Chelsea           1
West Brom         1
Man City          1
Name: HomeTeam, dtype: int64

In [6]:
df["AwayTeam"].value_counts()

West Ham          1
Newcastle         1
Sheff Utd         1
Brighton          1
Fulham            1
Burnley           1
Tottenham         1
Aston Villa       1
Southampton       1
Wolves            1
Man City          1
Liverpool         1
Everton           1
Leicester         1
Man Utd           1
Chelsea           1
West Brom         1
Leeds             1
Crystal Palace    1
Arsenal           1
Name: AwayTeam, dtype: int64